@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background: #2c2e2d;
}

.contenedor {
  padding-top: 50px;
  color: #e4ebe7;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}