@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  color: #e4ebe7;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #2c2e2d;
}

.contenedor {
  padding-top: 50px;
  padding: 10px;
  margin-left: 8%;
  margin-right: 8%;
}

/* h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  background: #E49393;
  width: 200px;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(10px);
} */

br {
  display: block; 
  content: "";
  margin-top: 20px;
}

span {
  margin-left: 6px;
  margin-right: 6px;
}

h2 {
  position: relative;
  font-weight: medium;
  letter-spacing: 0.5px;
  font-size: 21px;
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  margin-right: 7px;
}

.male {
  background-color: #B4656F;
  color: #e4ebe7;
}

.female {
  background-color: #8AA399;
  color: #e4ebe7;
}

.gender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.spacing {
  display: block; 
  content: "";
  margin-top: 200px;
}